[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
kaggle = "*"
numpy = "*"
lightgbm = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
pandas = "*"
matplotlib = "*"
swifter = "*"
mlflow = "*"
torch = "*"
torchvision = "*"
hydra-core = "*"
optuna = "*"

[requires]
python_version = "3.7"
